@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

/* Reset */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */
	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Basic */
	body {
		background: #D0D0D0;
		text-align: justify;
	}

	body, input, select, textarea {
		color: #000000;
		font-family: "Lato", sans-serif;
		font-size: 14px;
		font-weight: 500;
		line-height: 150%;
	}

	a {
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		border-bottom: solid 0px #e4e4e4;
		color: inherit;
		text-decoration: none;
	}

	strong, b {
		color: #000000;
		font-weight: 700;
	}

	strong, i {
		font-style: italic;
	}

	h1 {
		font-size: 200%;
		line-height: 150%;
		color: #FFFFFF;
		font-weight: 700;
		margin: 15% auto 15% auto;
	}

	h2 {
		font-size: 350%;
		line-height: 150%;
		color: #4acaa8;
		font-weight: 700;
		margin-bottom: 4%;
	}

	h3 {
		font-size: 150%;
		line-height: 150%;
		color: #000000;
		font-weight: 700;
		margin-bottom: 3%;
	}

	h5 {
		font-size: 110%;
		line-height: 150%;
		color: #000000;
		font-weight: 700;
		margin-bottom: 0%;
	}

/* wrapper_all */	
	#wrapper_all {
		max-width: 1000px;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
		position: relative;
		-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	  }

/* Header */
	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		background: #4acaa8;
		overflow-y: auto;
		text-align: center;
		position: absolute;
		right: 0;
		width: 24%;
		height: 100%;
		color: #fff;
	}

		#header > header {
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			margin-left: 3%;
			margin-right: 3%;
		}

			#header > header .avatar {
				display: block;
				margin: 15% auto 15% auto;
				width: 100%;
			}

			#header > header p {
				font-size: 120%;
				color: #d1f1e9;
				font-style: italic;
				margin: 0% 0 30% 0;
			}

		#header > nav {
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
		}

			#header > nav ul {
				list-style: none;
				margin: 0 0 0 -8%;
				padding: 0;
			}

				#header > nav ul li {
					border-top: solid 2px #5ccfb0;
					display: block;
					padding: 0;
				}

					#header > nav ul li a {
						-moz-transition: none;
						-webkit-transition: none;
						-ms-transition: none;
						transition: none;
						border: 0;
						color: #ffffff !important;
						display: block;
						padding: 4% 0% 4% 0%;
						text-decoration: none;
						font-size: 120%;
					}

						#header > nav ul li a.active {
							background: #fff;
							color: #4acaa8 !important;
						}

					#header > nav ul li:first-child {
						border-top: 0;
					}

/* Wrapper */
	#wrapper {
		background: #fff;
		padding: 6%;
		padding-right: 30%;
	}

		#wrapper > section {
			border-top: solid 0px #f4f4f4;
		}

			#wrapper > section > .container {
				margin-top: 0%;
				margin-bottom: 6%;
				margin-left: 0%;
				margin-right: 0%;
				width: 100%;
			}

			#wrapper > section:first-child {
				border-top: 0;
			}

/* Image */
	.image {
		border-radius: 0;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image.avatar {
			border-radius: 100%;
			overflow: hidden;
		}

			.image.avatar img {
				border-radius: 100%;
				display: block;
				width: 100%;
			}

/* List */
	ul {
		list-style: disc;
	}

		ul li {
			margin: 0 0 0 6%;
			padding-left: 1%;
		}

		ul.feature-icons {
			list-style: none;
			padding-left: 0;
		}

			ul.feature-icons li {
				text-decoration: none;
				display: inline-block;
				margin: 0 0% 2% 0%;
				padding: 0 0 0 0;
				position: relative;
				vertical-align: top;
				width: 100%;
			}

				ul.feature-icons li:before {
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
					margin-right: 2%;
					display: inline-block;
					color: #4acaa8;
				}

/* Features */
	.features article {
		border-top: solid 0px #f4f4f4;
		margin-bottom: 4%;
	}

		.features article:first-child {
			border-top: 0;
			padding-top: 0;
		}

		.features article .image {
			display: inline-block;
			padding-right: 2%;
			vertical-align: middle;
			width: 35%;
		}

			.features article .image img {
				display: block;
				width: 100%;
			}

		.features article .inner {
			display: inline-block;
			vertical-align: middle;
			width: 63%;
		}

			.features article .inner > :last-child {
				margin-bottom: 0;
			}

#titleBar {
	display: none;
}

@media (max-width: 767.98px) {
	body {
		font-size: 8px;
	}
}